<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: #f7f3e9;
		border: 1px solid #48769e;
		background-color: #48769e;
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
		font-family: var(--font-brand);
		font-weight: 500;
	}
</style>
