---
import Footer from '../components/Footer.astro';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			.backgrounds {
				min-height: 100%;
				background-color: #f7f3e9;
			}

			:global(.theme-dark) .backgrounds {
				background-color: #140a0b;
			}

			@media (forced-colors: active) {
				.backgrounds {
					background: none;
				}
			}
		</style>
	</body>
</html>
